.custom {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-opacity: 0.6;
    -fx-font-family: "Yu Gothic Light";
    -fx-font-size: 12;
    -fx-text-fill: black;
}
.custom:pressed{

    -fx-opacity: 1;

}
.custom:selected{
    -fx-opacity: 1;
}
.back {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Yu Gothic Light";
    -fx-font-size: 16;
    -fx-text-fill: white;
}

.back:hover {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Yu Gothic Light";
    -fx-font-size: 16;
    -fx-text-fill: cornflowerblue;
}
.back:selected {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Yu Gothic Light";
    -fx-font-size: 16;
    -fx-text-fill: cornflowerblue;
}
.back:pressed {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Yu Gothic Light";
    -fx-font-size: 16;
    -fx-text-fill: cornflowerblue;
}

.toggle-button {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-opacity: 0.6;
    -fx-font-family: "Yu Gothic Light";
    -fx-font-size: 12;
    -fx-text-fill: black;
}

.toggle-button:pressed {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-opacity: 1;
    -fx-font-family: "Yu Gothic Light";
    -fx-text-fill: black;
    -fx-text: bold;
}

.toggle-button:disabled {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-opacity: 1;
    -fx-font-family: "Yu Gothic Light";
    -fx-text-fill: black;
    -fx-text: bold;
}

.toggle-button:selected {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-opacity: 1;
    -fx-font-family: "Yu Gothic Light";
    -fx-text-fill: black;
    -fx-text: bold;
}

.root {
    -fx-background-image: url("city-blur-4k.jpg");
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-title {
    -fx-text-fill: white;
    -fx-font-size: 1.6em;
}

.axis-label {
    -fx-text-fill: white;
}

.chart-legend {
    -fx-background-color: transparent;
}

.chart-legend-item-symbol {
    -fx-background-radius: 0;
}

.chart-legend-item {
    -fx-text-fill: white;
}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.default-color0.chart-series-line {
    -fx-stroke: lightgrey;
}

.default-color1.chart-series-line {
    -fx-stroke: lightcoral;
}

.default-color2.chart-series-line {
    -fx-stroke: lightslategray;
}

.default-color3.chart-series-line {
    -fx-stroke: #bed905
}

.default-color0.chart-line-symbol {
    -fx-background-color: lightgray, white;
}

.default-color1.chart-line-symbol {
    -fx-background-color: lightcoral, white;
}

.default-color2.chart-line-symbol {
    -fx-background-color: lightslategray, white;
}

.default-color3.chart-line-symbol {
    -fx-background-color: #bed905, white;
}